.vs/
obj/
bin/
*.user
Raffler/.vs/ProjectEvaluation/raffler.metadata.v9.bin
Raffler/.vs/ProjectEvaluation/raffler.projects.v9.bin
Raffler/.vs/Raffler/DesignTimeBuild/.dtbcache.v2
Raffler/.vs/Raffler/v17/.futdcache.v2
Raffler/.vs/Raffler/v17/.suo
Raffler/.vs/Raffler/v17/DocumentLayout.backup.json
Raffler/.vs/Raffler/v17/DocumentLayout.json
/Raffler/.vs/Raffler/v17
/Raffler/.vs
